<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="/static/assets/css/noscript.css" />
    </noscript>
    <title>分割图片</title>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <!-- Note: The "styleN" class below should match that of the banner element. -->
        <header id="header" class="alt style2">
            <a href="/index/" class="logo"><strong>Neural Style</strong> <span> AI</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu菜单 -->
        <nav id="menu">
            <ul class="links">
                <li><a href="/index/">主页</a></li>
                <li><a href="/index/landing/">现在开始</a></li>
                <li><a href="/generic/">技术科普</a></li>
                <li><a href="/elements/">支持</a></li>
            </ul>
            <ul class="actions stacked">
                <li><a href="#" class="button primary fit">Get Started</a></li>
                <li><a href="#" class="button fit">Log In</a></li>
            </ul>
        </nav>
<img src="{{ img1 }}" alt="">
<img src="{{ img2 }}" alt="">
</body>
</html>