<!DOCTYPE html>
<html>
	<head>
		<title>分页</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
<!-- Two-->
<body>
    		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="/index/" class="logo"><strong>Neural Style</strong> <span> AI</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu菜单 -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/index/">主页</a></li>
							<li><a href="/index/landing/">现在开始</a></li>
							<li><a href="/generic/">技术科普</a></li>
							<li><a href="/elements/">支持</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="/static/images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>图片风格迁移</h1>
							</header>
							<div class="content">
								<p>
                                    Picture style transfer<br />
								通过预设的名画让你与绘画大师交流</p>
							</div>
						</div>
					</section>
<section id="two" class="spotlights">
    <section>
        <a href="/generic/" class="image">
            <img src="/static/images/candy.jpg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>蜡笔画</h3>
                </header>
                <p>蜡笔画是指以蜡笔（蜡液和颜料融合、凝固制成）在纸、布或板材上绘成的画。蜡笔没有渗透性，是靠附着力固定在画面上，不适宜用过于光滑的纸、板，亦不能通过色彩的反复叠加求得复合色。</p>
                <ul class="actions">
                    <li><a href="/index/landing/Candy/" class="button" id="rise">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="/generic/" class="image">
            <img src="/static/images/cubist.jpg" alt="" data-position="top center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>立体主义</h3>
                </header>
                <p>以许多的角度来描写对象物，将其置于同一个画面之中，以此来表达对象物最为完整的形象。</p>
                <ul class="actions">
                    <li><a href="/index/landing/Cubist/" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="/generic/" class="image">
            <img src="/static/images/mosaic.jpg" alt="" data-position="25% 25%" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>镶嵌玻璃装饰主义</h3>
                </header>
                <p>抽象装饰和自然主义</p>
                <ul class="actions">
                    <li><a href="/index/landing/Mosaic/" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="/generic/" class="image">
            <img src="/static/images/muse.jpg" alt="" data-position="center center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>《戴贝雷帽、穿格子裙的女子》</h3>
                </header>
                <p>记录了毕加索与玛莉·德雷莎·沃特微妙的关系变化。当时的他仍然深爱玛莉·德雷莎·沃特，但画中元素却暗示了毕加索新恋人朵拉·玛尔日渐明显的介入。此作深刻描绘了毕加索的内心情感。</p>
                <ul class="actions">
                    <li><a href="/index/landing/Muse/" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="/generic/" class="image">
            <img src="/static/images/rain.jpg" alt="" data-position="top center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>《缤纷世界》</h3>
                </header>
                <p>高纯度的色彩与儿童画那是如出一辙，简单的笔触极易模仿，强烈的冷暖对比完全是童话世界</p>
                <ul class="actions">
                    <li><a href="/index/landing/Rain/" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="/generic/" class="image">
            <img src="/static/images/scream.jpg" alt="" data-position="25% 25%" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>《呐喊》</h3>
                </header>
                <p>爱德华*蒙克著名画作《呐喊》.那张惊惧变形的面孔和强烈冲撞的色彩，一直被看作是现代人苦闷精神的象征，该作品成为了20世纪的经典“表情”。蒙克的绘画，开启了欧洲表现主义艺术的序幕。</p>
                <ul class="actions">
                    <li><a href="/index/landing/Screem/" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="/generic/" class="image">
            <img src="/static/images/shipwreck.jpg" alt="" data-position="center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>《海难》</h3>
                </header>
                <p>这幅画通过人物、船只和波浪的表现手法以及颜色的处理而实现了整体结构的和谐。在阴霾四起而潜藏无限危难的天空和漆黑而诡谲多变的大海的衬托下，中、前景是白绿色调的汹涌翻滚的巨浪。大海像一个巨大的涡流，正在逐渐把无助的小船吞噬。</p>
                <ul class="actions">
                    <li><a href="/index/landing/Shipwreck/" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="/generic/" class="image">
            <img src="/static/images/starry.jpg" alt="" data-position="top center" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>《星空》</h3>
                </header>
                <p>《星月夜》（The Starry Night）是荷兰后印象派画家文森特·梵·高于1889年在法国圣雷米的一家精神病院里创作的一幅油画，是梵高的代表作之一，现藏纽约现代艺术博物馆。</p>
                <ul class="actions">
                    <li><a href="/index/landing/Strarry/" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="/generic/" class="image">
            <img src="/static/images/udnie.jpg" alt="" data-position="25% 25%" />
        </a>
        <div class="content">
            <div class="inner">
                <header class="major">
                    <h3>《教会》</h3>
                </header>
                <p>　皮卡比亚着重创造性艺术，纯感觉至上。他认为客观世界的视觉现象是无意义的，有意义的是感觉，因此他用各种几何形体构成作品，有时用怪诞离奇的图像表现不可思议的事物。皮卡比亚的一生就是在改变着住所、朋友、思想、风格，为一种事业而斗争，然后再来反对这种事业，从而争取一个新的事物，然后再把它抛弃掉。皮卡比亚绘画风格大胆泼辣，笔触鲜明，表现欲望强烈，在画坛独树一帜。</p>
                <ul class="actions">
                    <li><a href="/index/landing/Udnie/" class="button">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>
        <section>
            <a href="/generic/" class="image">
                <img src="/static/images/monet.jpg" alt="" data-position="center center" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>新古典主义美术</h3>
                    </header>
                    <p>在艺术形式上，强调理性而非感性的表现；在构图上强调完整性；在造型上 重视素描和轮廓，注重雕塑般的人物形象，而对色彩不够重视。.</p>
                    <ul class="actions">
                        <li><a href="/index/landing/monet/" class="button" id="rise">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="/generic/" class="image">
                <img src="/static/images/ukiyoe.jpg" alt="" data-position="top center" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>浮世绘</h3>
                    </header>
                    <p>浮世绘（うきよえ）是日本的一种绘画艺术形式。浮世绘起源于17世纪，主要描绘人们日常生活、风景、和戏剧。浮世绘常被认为专指彩色印刷的木版画（日语称为锦绘），但事实上也有手绘的作品。</p>
                    <ul class="actions">
                        <li><a href="/index/landing/ukiyoe/" class="button">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
    <section>
            <a href="/generic/" class="image">
                <img src="/static/images/animation.jpg" alt="" data-position="center" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>动漫</h3>
                    </header>
                    <p>动画的概念不同于一般意义上的动画片，动画是一种综合艺术，它是集合了绘画、电影、数字媒体、摄影、音乐、文学等众多艺术门类于一身的艺术表现形式。最早发源于19世纪上半叶的英国，兴盛于美国，中国动画起源于20世纪20年代。动画是一门年轻的艺术，它是唯一有确定诞生日期的一门艺术，1892年10月28日埃米尔·雷诺首次在巴黎著名的葛莱凡蜡像馆向观众放映光学影戏，标志着动画的正式诞生，同时埃米尔·雷诺也被誉为“动画之父”。动画艺术经过了100多年的发展，已经有了较为完善的理论体系和产业体系，并以其独特的艺术魅力深受人们的喜爱。</p>
                    <ul class="actions">
                        <li><a href="/index/landing/vangogh/" class="button">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
</section>
<section id="two">
    <div class="inner">
        <header class="major">
            <h2>高级选项</h2>
        </header>
        <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
        <ul class="actions">
            <li><a href="/index/landing5/" class="button next">现在开始</a></li>
        </ul>
    </div>
</section>

</div>
</body>
</html>